.header-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
    position: absolute;
    
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2;
}

.overlay-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-image {
    width: 220px; 
    height: auto;
}


.scroll-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    color: #ffffff;
    transform: scale(1.5)
}