body {
    margin:0;
    padding:0;
}

.background-container {
    display: inline-block;
    margin:0;
    padding:0;
    position: relative;
    text-align: center;
}

.background-image {
    /* position: fixed; */
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    height: 70vh;
    width: 100vh !important;
}


.overlay-image-container {
    position: absolute;
    padding-top: 30px;
}

.overlay-image {
    width: 220px; /* Adjust as needed */
    height: auto;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
}

@media screen and (max-width: 900px) {
    .overlay-image-container {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}