.card-container{
    border: 5px solid #76d0f2;
    border-radius: 20px;
    background-color: #000000;
    color: #ffff;
}

.card-container:hover {
    transform: scale(0.95);
  }
.card-container {
    transition: transform 0.5s;
}
  