.title-text {
    display: block;
    text-align: center; 
    position: relative;
    margin: 0 auto;
}

.title-text:after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 72%;
    content: '';
    background: #aaa;
    height: 4px;
    transition: all 0.5s ease-out;
    transform: translateX(-50%);
}

/* so on small screens underlines just shows */
@media (min-width: 1024px) { 
    .title-text:after {
        width: 0%; 
    }
    
    .title-hover:hover .title-text:after {
        width: 72%;
    }
}
