/* https://codepen.io/kazzkiq/pen/pvqvxO */

.side-menu{
	background:#5bc995;
	height:100vh;
	width:240px;
	position:fixed;
    z-index: -1;
	top:0;
	left:0;
	outline:none;
	.side-menu-header{
		background:rgba(0,0,0,0.1);
		padding:2em 0.5em;
		text-align:center;
		
		h2{
			font-weight:normal;
			margin-bottom:0;
		}
	}
	
	ul{
		list-style:none;
		padding:0.5em 0;
		margin:0;
		
		li{
			padding:0.5em 1em 0.5em 3em;
			font-size:0.95em;
			font-weight:regular;
			background-repeat:no-repeat;
			background-position:left 15px center;
			background-size:auto 20px;
			transition:all 0.15s linear;
			cursor:pointer;
			
			
			&:hover{
				background-color:rgba(0,0,0,0.1);
			}
			
			&:focus{
				outline:none;
			}
			
		}
	}
}



@media screen and (max-width:1024px){
	body{
		padding-left:0;
	}
	
	.side-menu{
        z-index: 1;

        position:fixed;

        top:0;
		width:230px;
		box-shadow:0 0 0 100em rgba(0,0,0,0);
		transform:translate3d(-230px,0,0);
		transition:all 0.3s ease-in-out;
		
		.collapsed-menu-trigger{
			width:40px;
			height:40px;
			position:fixed;
			left:100%;
			background:#5bc995;
            /* for collapsed button */
			margin-left: 5px;
            margin-top: 5px;
            border-radius: 10px;

			&:before, &:after{
				content:'';
				width:50%;
				height:2px;
				background:#fff;
				border-radius:10px;
				position:absolute;
				top:45%;
				left:50%;
				transform:translate3d(-50%, -50%, 0);
			}

			
			&:after{
				top:55%;
				transform:translate3d(-50%, -50%, 0);
			}
		}
		
        
		ul{
			
			li{
				padding:1em 1em 1em 3em;
				font-size:1.2em;
			}
		}
		
		&:focus{
			transform:translate3d(0,0,0);
			box-shadow:0 0 0 100em rgba(0,0,0,0.6);
			
			.collapsed-menu-trigger{
				pointer-events:none;
			}
		}
	}
}