
.navbar-container {
    position: fixed;
	background-color: #ffffff;
	width: 100%;
	z-index: 1000;
	top: 0;
}

.navbar-container a.active{
    color: #ff0000;
}

.navbar-container a {
	color: #000000;
	text-decoration: none;
    transition: color 0.3s ease;


}

/* hover effect for only not active links */
.navbar-container a:not(.active):hover {
    color: #0000001c;
}

.navbar-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-link {
	display: block;
	margin: auto;
}



/* md  */
@media (max-width: 1024px) {
    .navbar-container {
        position: fixed;
		top: auto;
        bottom: 0; 
        left: 0;
        width: 100%;
        z-index: 1000;
    }
}
