.click-card-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
    padding-top: 3vh;
}

.image {
    padding-right: 20px;
}

.image img {
    width: 600px;
    height: 400px;
}

.text {
    padding-left: 20px;
    border-left: 4px solid transparent;
    transition: border-left 0.2s;
    cursor: pointer;
    display: inline-block;
}


.text button {
    float: right;

}

.click-card-text-container {
    width: 40%;
}

.activeCard {
    border-left: 4px solid;
}
