@tailwind base;
@tailwind components;
@tailwind utilities;



/* sm */
@media (min-width: 640px) {
    .app-container {
        padding-top: 0px;
        padding-bottom: 56px;

    }
}

/* md */
@media (min-width: 768px) {
    .app-container {
        padding-top: 0px;
        padding-bottom: 64px;

    }
}

@media (min-width: 1024px) {
    .app-container {
        padding-top: 74px;
        padding-bottom: 0px;

    }
}