.link-card-container {
    margin-top: 10px;

    padding-top: 10px;
      /* 384357 */
    background-color: #4d74c2;
    padding-bottom: 60px;
}


.link-card {

    overflow: hidden;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
    border-radius: 20px;

}

.link-card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.link-card img {
    filter: brightness(45%);
}

